{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Django Site{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body class="bg-gray-100 flex items-center justify-center h-screen">
    <header>
    </header>
    <nav>
    </nav>
    <main class="text-lg">
        {% block content %}
        {% endblock %}
    </main>
    <footer>
    </footer>
    <script src="{% static 'js/script.js' %}"></script>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</body>
</html>
